{% extends './partials/base.html'%}

{% block style %}
<style>
    #contact{
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        padding-bottom: 1.5vh;
    }
    #get-in-touch{
        justify-content: center;
        align-items: center;
        padding-bottom: 2vh;
    }
    .item{
        height: auto;
        width: 20vw;
        display: flex;
        gap: 1vw;
        padding-top: 1vh;
    }
    .item:hover{
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    .left-side, .right-side {
        padding: 1vh 1vw;
    }
    .left-side{
        width: 3vw;
        height: 3vw;
        border-radius: 25%;
        background-color: rgb(7, 76, 179);
        margin-left: 1vw;
    }
    .right-side{
        margin-top: -1vh;
    }
    .col-sm-2{
        background-color: aquamarine;
    }
    #icon{
        vertical-align:sub;
        color: white;
        font-size: 3vh;
        margin-left: -0.5vw;
        margin-top: 0.5vh;
    }
    
    #title{
        margin-bottom: -1vh;
    }
    #content{
        margin-top: -0.5vh;
    }
</style>
{% endblock %}


{% block content %}
<section id="contact">
    <p style="font-size: 1.8vw; text-align: center; padding-top: 8vh;"><b>Our services</b></p>
    <p style="font-size: 1.2vw; text-align: center; padding-top: 1vh; padding-bottom: 6vh;">Comprehensive elevator maintenance and modernization solutions  tailored to your needs</p>
</section>
<section id="get-in-touch">
    <p style="font-size: 1.2vw; text-align: center; padding-top: 8vh;"><b>Our services</b></p>
    <p style="text-align: center; padding-top: 1vh; padding-bottom: 6vh;">Have questions or need service? We're here to help. Reach out to us using any of the methods below.</p>
    <div class="d-flex gap-2 justify-content-center pb-5">
        <div class="item me-2">
            <div class="left-side">
                <i class="fa-solid fa-phone" id="icon"></i>
            </div>
            <div class="right-side">
                <h5 id="title">Phone</h5><br>
                <p id="content">Main: +46 123 45 67 89</p>
            </div>
        </div>
        <div class="item">
            <div class="left-side">
                <i class="fa-solid fa-envelope" id="icon"></i>
            </div>
            <div class="right-side">
                <h5 id="title">Email</h5><br>
                <p id="content">info@elevateserve.com</p>
                <p id="content">service@elevateserve.com</p>
            </div>
        </div>
    </div>
    <div class="d-flex gap-2 justify-content-center">
        <div class="item me-2">
            <div class="left-side">
                <i class="fa-solid fa-location-dot" id="icon"></i>
            </div>
            <div class="right-side">
                <h5 id="title">Address</h5><br>
                <p id="content">123 Industrial Park Blvd, Suite 200 New York, NY 10001</p>
            </div>
        </div>
        <div class="item">
            <div class="left-side">
                <i class="fa-regular fa-clock" id="icon"></i>
            </div>
            <div class="right-side">
                <h5 id="title">Hours</h5><br>
                <p id="content">Mon-Fri: 7:00 AM - 6:00 PM Sat: 8:00 AM - 2:00 PM</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}