{% extends './partials/base.html'%}
{% block style %}
<style>
    #home-page-image{
        height: 40vh;
        background-color: gray;
    }
    #moto{
        font-size: 3vw;
        padding-bottom: 2vh;
    }
    #quote-button{
        color: aqua;
        margin-top: 1vh;
        margin-right: 2vw;
    }
    #phone{
        margin-top: 1vh;
    }
    #phone:hover{
        background-color: bisque;
    }
    .service-container{
        background-color: beige;
        width: 100vw;
        padding-bottom: 7vh;
    }
    .card{
        height: 20vh;
    }
    .why-us-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5vw;
        background-color: darkgrey;
        width: 100vw;
        padding-bottom: 7vh;
    }
    .text-list{
        padding-top: 6vh;
        margin-left: 8vw;
    }
    .custom-icon-list {
        list-style: none; /* Removes default bullets */
        padding: 0;
        margin: 3vh 0;
    }

    .custom-icon-list li {
        display: flex;
        align-items: flex-start; /* Aligns icon with the top of the text line */
        gap: 10px;               /* Spacing between icon and text */
        line-height: 2;          /* Gives the list some breathing room */
        vertical-align: baseline;
        margin-top: 1vh;
    }

    .custom-icon-list i {
        color: rgb(99, 230, 190); /* Uses your brand's green color */
        margin-top: 1vh;          /* Tweaks vertical alignment if needed */
    }
    #image{
        margin-left: -5vw;
        height: 40vh;
        width: auto;
        border-radius: 2vh;
    }
    .services-container{
        padding-top: 5vh;
        align-items: center;
        width: 100vw;
        background-color: blueviolet;
    }
    .services-container h1, .services-container h4 {
        text-align: center;
        padding-top: 2vh;
    }
    .button-container{
        margin-left: -5vw;
        padding: 3vh 0;
        display:flex;
        justify-content: center;
        align-items: center;
    }
</style>

{% endblock %}
{% block content %}

<div  id="home-page-image">
    <div class="text">
            <h1 class="left-space" id="moto">Raising Standards Safetly</h1>
            <h3 class="left-space">Lorem ipsum</h3>
            <a type="button" href="#" class="btn btn-light btn-lg left-space" id="quote-button">Get a Free Quote <i class="fa-solid fa-arrow-right"></i></a>  <!--# to be changes to the path-->
            <a type="button" href="tel:+46 123456789" class="btn transparent btn-lg" id="phone"><i class="fa-solid fa-phone" style="color: rgb(99, 230, 190);"></i> +46 12 345 67 89</a>
    </div>
</div>

<div class="service-container">
    <p style="font-size: 1.8vw; text-align: center; padding-top: 8vh;"><b>Our services</b></p>
    <p style="font-size: 1.2vw; text-align: center; padding-top: 1vh; padding-bottom: 6vh;">Comprehensive elevator maintenance and modernization solutions</p>
    <div class="row row-cols-1 row-cols-md-4 g-4 left-space right-space">
        <div class="col">
          <div class="card">
            <i class="fa-solid fa-bug"></i>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <i class="fa-solid fa-bug"></i>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <i class="fa-solid fa-bug"></i>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <i class="fa-solid fa-bug"></i>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <a href="#" id="services" style="font-size: large;">View all services <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>
<div class="why-us-container">
    <div class="text-list col-4">
    <h2><b>Why Choose ElevateServe?</b></h2><br>
    <h4 style="overflow-wrap: break-word; word-break: normal;">With over 25 years of experience, we are the trusted partner for elevator maintenance across commercial and residential properties.</h4>
    <ul class="custom-icon-list">
        <li><i class="fa-regular fa-circle-check"></i> First premium feature</li>
        <li><i class="fa-regular fa-circle-check"></i> Second premium feature</li>
        <li><i class="fa-regular fa-circle-check"></i> Responsive design included</li>
        <li><i class="fa-regular fa-circle-check"></i> First premium feature</li>
        <li><i class="fa-regular fa-circle-check"></i> Second premium feature</li>
        <li><i class="fa-regular fa-circle-check"></i> Responsive design included</li>
    </ul>
    <a href="">Learn More About Us  <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="image col-4">
        <img src="/static/images/logo.jpg" alt="Logo" id="image">
    </div>
</div>
<div class="services-container">
  <h1>Need Elevator Service Today?</h1>
  <h4>Our expert technicians are ready to help. Contact us for a free consultation.</h4>
  <div class="button-container">
    <a type="button" href="/quote" class="btn btn-light btn-lg left-space" id="quote-button">Request Service <i class="fa-solid fa-arrow-right"></i></a>  <!--# to be changes to the path-->
    <a type="button" href="tel:+46 123456789" class="btn transparent btn-lg" id="phone"><i class="fa-solid fa-phone" style="color: rgb(99, 230, 190);"></i> Call now</a>
  </div>
</div>




{% endblock %}

{% block scripts %}

{% endblock %}
