{% extends 'partials/base.html' %}

{% block content %}
<div class="container-fluid my-5 mx-auto" style="max-width: 84%;">
    <div class="row g-4">
        <div class="col-6 col-md-4">
            <div class="border text-center rounded bg-light services p-4 h-100">
                <strong>Service 1</strong>
                <p class="mb-0 mt-2">A service text</p>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="border text-center rounded bg-light services p-4 h-100">
                <strong>Service 2</strong>
                <p class="mb-0 mt-2">A service text</p>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="border text-center rounded bg-light services p-4 h-100">
                <strong>Service 3</strong>
                <p class="mb-0 mt-2">A service text</p>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="border text-center rounded bg-light services p-4 h-100">
                <strong>Service 4</strong>
                <p class="mb-0 mt-2">A service text</p>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="border text-center rounded bg-light services p-4 h-100">
                <strong>Service 5</strong>
                <p class="mb-0 mt-2">A service text</p>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="border text-center rounded bg-light services p-4 h-100">
                <strong>Service 6</strong>
                <p class="mb-0 mt-2">A service text</p>
            </div>
        </div>

    </div>
    <!-- <div class="d-flex justify-content-center align-items-center my-4">
        <a href="/services" class="btn btn-primary btn-lg">Πήγαινε στο Services</a>
    </div> -->
</div>

{% endblock %}